<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
	xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Bundle
	      Version="2.6.1"
	      UpgradeCode="44c72510-2e8e-489c-8bc0-2011a9631b0b"
	      Manufacturer="Evercast"
	      IconSourceFile=".\ebs.ico"
	      Name="EBS"
	>
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
			<bal:WixStandardBootstrapperApplication
				LicenseFile=".\_CPack_Packages\win64\WIX\License.rtf"
				ShowVersion="yes"
				SuppressOptionsUI="yes" />
		</BootstrapperApplicationRef>

		<util:FileSearch
		  Id="HasNDIRuntime"
		  Path="[ProgramFiles64Folder]\NewTek\NDI 4 Runtime\v4\Processing.NDI.Lib.x64.dll"
		  Result="exists"
		  Variable="HasNDIRuntime" />
		
		<!-- Visual C++ 2015-2019 Redistributable (x64) minimum runtime msi package version -->
		<util:ProductSearch
		  Id="VCRedist2015x64"
		  Result="version"
		  Variable="VCRedist2015x64"
		  UpgradeCode="36F68A90-239C-34DF-B58C-64B30153CE35" />

		<Chain>
			<ExePackage
				DetectCondition="HasNDIRuntime"
				InstallCondition="NOT NDIPresent"
				SourceFile=".\NDI 4 Runtime.exe"
				Permanent="yes" />
			<ExePackage
				InstallCondition="NOT (VCRedist2015x64 = v14.25.28508)"
				SourceFile=".\VC_redist.x64.exe"
				InstallCommand="/q /ACTION=Install"
				RepairCommand="/q ACTION=Repair /hideconsole"
				Permanent="yes"
				Vital="no"/>
			<MsiPackage SourceFile=".\ebs-x64-2.6.1.msi" />
		</Chain>
	</Bundle>
</Wix>
